<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Author Overview</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>

<div class="container">
    <h1>Overview of all the authors known in the library</h1>

    <table>
        <tr>
            <th><label for="firstNameField">First name</label></th>
            <th><label for="infixNameField">Infix name</label></th>
            <th><label for="lastNameField">Last name</label></th>
            <th></th>
        </tr>
        <tr th:each="author : ${allAuthors}">
            <td th:text="${author.firstName}"></td>
            <td th:text="${author.infixName}"></td>
            <td th:text="${author.lastName}"></td>
            <td></td>
        </tr>
        <form th:action="@{/author/new}" method="post" th:object="${newAuthor}">
            <tr>
                <td><input id="firstNameField" type="text" th:field="*{firstName}"></td>
                <td><input id="infixNameField" type="text" th:field="*{infixName}"></td>
                <td><input id ="lastNameField" type="text" th:field="*{lastName}"></td>
                <td><input type="submit" value="Save new author"></td>
            </tr>
        </form>
    </table>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>
