<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Author Overview</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>

<div class="container">
    <h1>Overview of all the authors known in the library</h1>

    <table>
        <tr>
            <th><label for="firstNameField">First name</label></th>
            <th><label for="infixNameField">Infix name</label></th>
            <th><label for="lastNameField">Last name</label></th>
            <th></th>
        </tr>
        <tr th:each="author : ${allAuthors}">
            <td th:text="${author.firstName}"></td>
            <td th:text="${author.infixName}"></td>
            <td th:text="${author.lastName}"></td>
            <td></td>
        </tr>
        <form th:action="@{/author/new}" method="post" th:object="${newAuthor}">
            <tr>
                <td><input id="firstNameField" type="text" th:field="*{firstName}"></td>
                <td><input id="infixNameField" type="text" th:field="*{infixName}"></td>
                <td><input id ="lastNameField" type="text" th:field="*{lastName}"></td>
                <td><input type="submit" value="Save new author"></td>
            </tr>
        </form>
    </table>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>
