<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create a new book</title>
</head>
<body>

<h1>Create a new book</h1>

<form th:action="@{/book/new}" method="post" th:object="${book}">
    <input type="hidden" th:field="*{bookId}">

    <table>
        <tr>
            <td><label for="titleField">Title</label></td>
            <td><label for="authorField">Author</label></td>
        </tr>
        <tr>
            <td>
                <input type="text" id="titleField" th:field="*{title}" />
            </td>
            <td>
                <select id="authorField" th:field="*{authors}" multiple>
                    <option th:each="author : ${allAuthors}"
                            th:value="${author.authorId}"
                            th:text="${author.displayName}">
                    </option>
                </select>
            </td>
        </tr>
    </table>

    <input type="submit" value="Save book" />
</form>
</body>
</html>